In [8]:
import pandas as pd
import seaborn as sns


data = pd.read_csv("nces-ed-attainment.csv", na_values=["---"])
year = data["Year"] == 2009
min_degree = data["Min degree"] == "high school"
mask = data[year & min_degree]
sns.barplot(data=data[mask], x="Sex", y="Total")

13     88.6
86     87.5
154    89.8
Name: Total, dtype: float64